* {
  text-align: center;
  align-content: center;
}

body {
  background-image: linear-gradient(to right, #1d3557, #a8dadc);
}

h1 {
  margin: 2px;
  margin-bottom: 5px;
  font-size: 32px;
}

.color {
  border: black 1px solid;
  display: inline-block;
  margin-top: 0;
  height: 20px;
  padding: 5px;
  width: 20px;
}

.black {
  background-color: black;
}

.purple {
  background-color: #b7a2cc;
}

.grey {
  background-color: #92aea6;
}

.silver {
  background-color: #c9c6b5;
}

#pixel-board {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table {
  align-content: center;
}

.pixel {
  background-color: white;
  height: 41px;
  padding: 0;
  margin: 0;
  width: 41px;
}

td {
  border: black 1px solid;
}

#clear-board {
  margin: 10px;
  border-radius: 50px;
  border-color: black;
  background-color: white;
}

#clear-board:hover {
  font-weight: 800;
  background-color: #ef5561;
}

#generate-board {
  font-weight: 900;
  width: 64px;
}

#generate-board:hover {
  background-color: #e5f6df;
  font-weight: 1000;
}

button {
  cursor: pointer;
}
